.requestCard {
  background: #FFF;
  border: 2px solid #DBDBDB;
  border-radius: 6px;
  align-items: center;
  overflow: hidden;
}

.organizationContent {
  flex: 1;
  padding: 10px;
  width: calc(100% - 317px);
}

.organizationContent .__re-bulma_title {
  color: #3E4C63;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
}

.organizationContent a {
  color: #3E4C63;
  font-size: 18px;
  font-weight: normal;
}

.organizationContent p {
  color: #3E4C63;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 0;
}

.interestedContent {
  border-left: 2px solid #EBEBEB;
  padding: 10px;
  padding-left: 20px;
}

.interestedContent button{
  border-radius: 20px;
}

.button {
  outline: none;
  cursor: pointer;
  background-color: #31E0D5;
  font-size: 16px;
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
}

.button:hover {
  background-color: #20B8AF;
}

@media (max-width: 600px) {
  .requestCard {
    flex-direction: column;
  }

  .organizationContent {
    align-items: center;
    text-align: center;
    padding: 0 10px;
    width: calc(100% - 30px);
  }

  .interestedContent{
    border: none;
    margin: 10px;
    padding-left: 0;
  }
}
