@import 'src/utils/styles/colors.scss';
@import 'src/utils/styles/common.scss';

.title {
  margin: 30px 0 50px 0;
  text-align: center;
}

.avatarWrapper {
  cursor: pointer;
  text-align: center;
  margin-bottom: 40px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;

  .button {
    border-radius: 30px;
    font-size: 23px;
    line-height: 36px;
    font-weight: normal;
    color: $white;
    text-align: center;
    padding: 12px 20px;
    outline: none;
    cursor: pointer;
    margin: 40px 10px 10px 0;
    margin-bottom: 20px;
  }

  .saveButton {
    background-color: $pink_400;
    
    &:hover,
    &:focus {
      background-color: $pink_800;
    }
  }

  .cancelButton {
    background-color: $grey_100;

    &:hover,
    &:focus {
      background-color: $grey_150;
    }
  }
}