require('../../utils/styles/colors.js');
@import 'src/utils/styles/common.scss';

.title {
  margin: 30px 0 50px 0;
  text-align: center;
}

.col {
  margin-bottom: -8px;
}

.galleryHeader {
  margin-top: 20px;
  margin-left: 15px;
}

.additionalButton {
  background-color: $green_300;
      
  &:hover,
  &:focus {
    background-color: $green_500;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: center;

  .saveButton {
    background-color: $pink_400;
    min-height: 60px;
    
    &:hover,
    &:focus {
      background-color: $pink_800;
    }
    
    &:disabled {
      background-color: $grey_150;
      cursor: not-allowed;
    }
  }

  .cancelButton {
    background-color: $grey_100;

    &:hover,
    &:focus {
      background-color: $grey_150;
    }
  }
}

@media (max-width: 768px) {
  .galleryHeader {
    margin-left: 40px;
  }
}

@media (max-width: 540px) {
  .galleryHeader {
    margin-left: 15px;
  }
}

@media (max-width: 470px) {
  .galleryHeader {
    margin-left: 55px;
  }
}