.categoriesItem {
  box-shadow: none;
  background: transparent;
  text-align: center;
  color: #FF974B;
  margin: 0;
}
.categoriesItem:hover > .categoriesCard {
  opacity: 1;
}
.categoriesCard {
  padding: 5px 5px 0 5px;
  opacity: 0;
}

.categoriesCard.active {
  opacity: 1;
}

.categoriesTitle {
  background: transparent;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #FF974B;
}

.categoriesImage {
  display: flex;
  margin: 0 auto;
  border: 4px solid #FF974B;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  background: #FFFFFF;
  text-align: center;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}

.categoriesImage.active {
  background-color: #FF974B;

}

.categoriesImage svg {
  display: inline-flex;
}
