DATABASE_NAME=vitrine
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
API_PORT=8000
FRONTEND_URL=https://vitrinesocial.org
VITRINESOCIAL_PRIVATE_KEY=ThisIsASecretSalt
VITRINESOCIAL_PUBLIC_KEY=
VITRINESOCIAL_SIGNING_METHOD=HS256
STORAGE=s3
STORAGE_S3_BUCKET_NAME=
STORAGE_S3_CONFIG_ACCESS_KEY_ID=configAccessKeyId
STORAGE_S3_CONFIG_SECRET_KEY=configSecretKey
STORAGE_S3_CONFIG_REGION=configRegion
STORAGE_S3_LINK=
STORAGE_LOCAL_PATH=
STORAGE_GOOGLE_PATH=

MAIL_METHOD=
MAIL_HOST=
MAIL_USER=
MAIL_PASS=
MAIL_PORT=
MAIL_SANDBOX=true
MAIL_FROM=
MAIL_CONTACT=
SENDGRID_API_KEY=
SENDGRID_TEMPLATE_FORGOT_PASSWORD=
SENDGRID_TEMPLATE_CONTACT=
SENDGRID_TEMPLATE_NEED_RESPONSE=
