.arrowButton {
    outline: none;
    align-self: center;
    position: relative;
    display: inline-block;
}

.arrowButton .img-bottom {
    visibility: visible;
}

.arrowButton:hover .img-bottom {
    visibility: hidden
}

.arrowButton .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.arrowButton:hover .img-top {
    display: inline;
}