.row {
  padding: 0 30px;
}

.categories {
  background-color: #F8F8F8;
  margin: 50px 0;
}

.categoriesWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categoryWrapper {
  margin: 10px 30px;
}