require('../../utils/styles/colors.js');

.appFooter {
  height: 80px;
  padding: 15px 50px;
}

.footerWrapper {
  display: flex;
  justify-content: space-between;
}

.copyright {
  color: $white;
  margin: auto 0;
}

@media (max-width: 540px) {
  .appFooter {
    padding: 15px 20px;
  }
}

@media (max-width: 460px) {
  .copyright {
    font-size: 10px;
  }
}