require('../../utils/styles/colors.js');

.appFooter {
  height: 80px;
  padding: 15px 50px;
}

.footerWrapper {
  display: flex;
  justify-content: space-between;
  
  a {
    color: $white;
    text-decoration: underline;
  }
}

.copyright {
  color: $white;
  margin: auto 0;
}

.icon {
  font-size: 30px;
  color: $white;
  margin: 10px;
}

@media (max-width: 576px) {
  .appFooter {
    padding: 15px 24px;
  }
}

@media (max-width: 478px) {
  .appFooter {
    padding: 15px 20px;
  }
  .icon {
    margin: 10px 5px;
  }
  .copyright {
    font-size: 11px;
  }
}

@media (max-width: 390px) {
  .copyright {
    font-size: 8px;
  }
}