.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 5px 0 5px;
}

.itemDetails {
  display: flex;
  flex-direction: row;
  margin-left: 80px;
}

.updatedAt {
  display: inline-block;
  background-color: #948CF9;
  font-size: 12px;
  font-weight: lighter;
  color: white;
  padding: 3px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 10px;
  margin-bottom: 40px;
  margin-left: 20px;
}

.title {
  background-color: transparent;
  font-size: 32px;
  font-weight: lighter;
  color: #3E4C63;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  margin-bottom: 5px; 
  text-transform: uppercase;
}

.organizationBox {
  padding-left: 80px;
}

.organizationBorder {
  border-left: 5px solid #FF974B;
  padding-left: 10px;
}

.organization {
  background-color: transparent;
  font-size: 26px;
  font-weight: lighter;
  color: #3E4C63;
  padding-top: 15px;
  padding-left: 10px;
  margin: 0;
}

.description {
  background-color: transparent;
  font-size: 20px;
  font-weight: lighter;
  color: #69778D;
  text-align: left;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 90px;
  padding-bottom: 10px;
  margin: 0;
}

.carouselWrapper {
  width: 80%;
  padding: 20px;
}

.arrowWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.carouselWrapper img {
  width: 100%;
  padding: 10px;
}

.button {
  background-color: #FA578A;
  border: 2px solid #FA578A;
  border-radius: 30px;
  font-size: 23px;
  font-weight: normal;
  color: white;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
  cursor: pointer;
  margin-top: 40px;
  margin-bottom: 20px;
}

 .button:hover {
  background-color: white;
  border-color: #FA578A;
  color: #FA578A;
 }

 .ant-carousel .slick-slide {
  text-align: center;
  height: 100%;
  line-height: 100%;
}

@media (max-width: 800px) {
  .modal {
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 696px) {
  .ant-modal-content {
    border-radius: 0;
  }

  .itemDetails {
    display: inline;
    margin-left: 20px;
    text-align: center;
  }

  .itemIndicator {
    display: flex;
    justify-content: center;
  }

  .updatedAt {
    margin-top: 0;
  }

  .organizationBox {
    padding-left: 20px;
  }

  .carouselWrapper img {
    margin-top: 30px;
    padding: 0;
  }
}