require('../../utils/styles/colors.js');
@import 'src/utils/styles/common.scss';

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 5px 0 5px;

  .itemDetails {
    display: flex;
    flex-direction: row;
    margin-left: 80px;

    h1 {
      background-color: transparent;
      font-size: 32px;
      font-weight: lighter;
      color: $grey_500;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      margin-bottom: 5px;
      text-transform: uppercase;
    }

    .updatedAt {
      display: inline-block;
      background-color: $purple_400;
      font-size: 12px;
      font-weight: lighter;
      color: white;
      padding: 3px;
      padding-right: 8px;
      padding-left: 8px;
      border-radius: 10px;
      margin-bottom: 40px;
      margin-left: 20px;
    }
  }

  .organizationBox {
    padding-left: 80px;

    .organizationBorder {
      border-left: 5px solid $ambar_400;
      padding-left: 10px;

      .organization {
        background-color: transparent;
        font-size: 26px;
        font-weight: lighter;
        color: $grey_500;
        padding-top: 15px;
        padding-left: 10px;
        margin: 0;
      }

      .description {
        background-color: transparent;
        font-size: 20px;
        font-weight: lighter;
        color: $blue_900;
        text-align: left;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 90px;
        padding-bottom: 10px;
        margin: 0;
      }
    }
  }

  .arrowWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .carouselWrapper {
      width: 80%;
      padding: 20px 0;

      img {
        width: 100%;
        padding: 10px;
      }
    }
  }

  button {
    background-color: $pink_400;
    border-radius: 30px;
    font-size: 23px;
    line-height: 36px;
    font-weight: normal;
    color: white;
    text-align: center;
    padding: 12px 20px;
    outline: none;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 20px;

    &:hover,
    &:focus {
      background-color: $pink_800;
    }
  }
}

.modalImage {
  margin-top: 30px;
}

@media (max-width: 696px) {
  .itemDetails {
    display: inline !important;
    margin: 0 !important;
    text-align: center;

    .updatedAt {
      margin-top: 0;
    }
  }

  .itemIndicator {
    display: flex;
    justify-content: center;
  }

  .organizationBox {
    padding-left: 20px !important;
    width: 100%;

    .description {
      padding-right: 40px !important;
    }
  }

  .carouselWrapper img {
    margin-top: 30px;
    padding: 0;
  }
}