.appHeader {
  background-color: #948CF9;
  height: 85px;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 26px 24px 16px 0;
  float: left;
}

.ant-layout-header {
  padding-top: 0px;
  padding-bottom: 0px;
}

.ant-menu {
  display: flex;
  align-items: center;
  border-bottom: none;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background: transparent
}