$black: #000000;
$white: #FFFFFF;

$grey_090: #f8f8f8;
$grey_000: #EBEBEB;
$grey_100: #DBDBDB;
$grey_350: #707F97;
$grey_400: #444F60;
$grey_500: #3E4C63;

$textDark: $grey_500;
$textLight: $white;

$purple_400: #948CF9;

$ambar_400: #FF974B;


$pink_200: #FBBED1;
$pink_400: #FA578A;
$pink_800: #D53063;

$cian_400: #16C0DB;
$cian_500: #2BA4B7;

$blue_900: #69778D;

$teal_400: #31E0D5;
$teal_500: #20B8AF;

$red_400: #D0021B;