.search {
  background-color: #16C0DB;
}

input {
  display:block;
  float:left;
  outline: none;
  border-radius: 50px;
  border: none;
  height: 50px;
  width:100%;
  color: #444F60;
  font-size: 18px;
  background: transparent;
  padding: 0;
  padding-left: 30px;
}

input::placeholder {
  color: #707F97;
  font-weight: 300;
}

.searchButton {
  outline: none;
  position: relative;
  float: right;
  // border-radius: 50px;
  padding: 0 20px;
  background-color: transparent;
  border: none;
}

.col {
  display: flex;
  padding: 0;
  border: 2px solid #2BA4B7;
  border-radius: 50px;
  background-color: #FFFFFF;
}